:root {
  --data-font-heading: UTM Avo;
  --data-font-main: SVN-Gilroy;
  --data-color: #2296f3;
  --data-background-color: #2296f3;
  --data-color-bold: #0482e6;
  --data-background-color-bold: #0482e6;
  --data-background-body: #f5f5f5;
  --data-white: #ffffff;
  --data-padding-default: 1rem;
  --data-black: #000000;
  --data-container: 117rem;
  --data-color-hover: #abffc9;
  --data-color-active: #73f378;
  --data-background-color-opacity: rgba(0, 121, 218, 0.701961);
  --data-background-color-opacity-light: rgba(63, 81, 181, 0.611765);
  --data-blue: #223ad8;
  --data-yellow: #ffc720;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: none;
}

*:focus {
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

html {
  font-size: 62.5%;
  font-family: "SVN-Gilroy";
}

body {
  scroll-behavior: smooth;
  font-size: 1.6rem;
  background-color: var(--data-background-body);
}

img {
  max-width: 100%;
  object-fit: cover;
}

button,
a,
img,
select {
  cursor: pointer;
}

.container {
  max-width: var(--data-container);
  margin: auto;
}

.wrapper {
  max-width: var(--data-container);
  margin: auto;
}

@media all and (max-width: 1170px) {
  .wrapper {
    padding: 0rem 2rem;
  }
}

.transition-1\/2s {
  transition: all 0.3s;
}

.img-wrap {
  position: relative;
  height: auto;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
}

.img-wrap img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  transform: translateZ(0);
  margin: 0 auto;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
  object-position: 50% 50%;
  object-fit: cover;
}

.backtotop {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
  width: 3.2rem;
  display: none !important;
  height: 3.2rem;
  background-color: var(--data-background-color);
  color: var(--data-white);
  z-index: 999;
  font-size: 2.4rem;
}

.backtotop.active {
  display: flex !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_tour__wrapper--main {
  background-color: var(--data-white);
}

.pagination {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pagination > a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0.2rem;
  color: var(--data-black);
  background-color: var(--data-white);
  transition: 0.5s all;
}

.pagination > a.active {
  color: var(--data-white);
  background-color: var(--data-background-color);
}

.pagination > a.active:hover {
  color: var(--data-black);
  background-color: var(--data-white);
}

.title-bottom h3 {
  font-size: 2.8rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--data-black);
}

.header {
  position: relative;
  z-index: 100;
  color: var(--data-white);
  background-color: var(--data-background-color);
  padding-top: 1rem;
}

.header__top {
  padding-bottom: 0.8rem;
  color: var(--data-white);
  border-bottom: 0.1rem solid var(--data-white);
}

@media all and (max-width: 640px) {
  .header__top {
    text-align: center;
  }
  .header__top p {
    font-size: 1.4rem;
  }
}

@media all and (min-width: 640px) {
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__top ul {
  gap: 1rem;
}

@media all and (max-width: 640px) {
  .header__top ul {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (min-width: 640px) {
  .header__top ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.header__top ul li a {
  color: var(--data-white);
}

@media all and (min-width: 1024px) {
  .header__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media all and (max-width: 768px) {
  .header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  width: 20rem;
}

@media all and (min-width: 768px) {
  .header__logo {
    width: 26.5rem;
  }
}

@media all and (min-width: 768px) {
  .header__logo {
    margin: auto;
  }
}

.header__logo img {
  width: 100%;
  object-fit: cover;
}

.header__mobile {
  color: var(--data-white);
  font-size: 2.8rem;
  display: block;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .header__mobile {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .header__menu {
    flex: 1;
  }
}

@media all and (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    height: 100vh;
    transform: translateX(100%);
    opacity: 0;
    width: 30rem;
  }
}

@media all and (min-width: 768px) {
  .header__menu--main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__menu--main a {
    color: var(--data-white);
  }
}

@media all and (min-width: 1024px) {
  .header__menu--main {
    padding-left: 5rem;
  }
}

.header__menu--item {
  position: relative;
}

@media all and (min-width: 768px) {
  .header__menu--item a:hover {
    color: var(--data-color-hover);
  }
  .header__menu--item:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    margin-top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid var(--data-white);
  }
}

@media all and (max-width: 768px) {
  .header__menu--item {
    cursor: pointer;
  }
  .header__menu--item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--data-white);
    padding: 1.5rem 1rem;
    border-bottom: 0.1rem solid var(--data-background-color-opacity);
  }
  .header__menu--item a:hover {
    background-color: var(--data-blue);
  }
  .header__menu--item a span:nth-child(2) {
    transition: all 0.5s;
  }
  .header__menu--item a span:nth-child(2).active {
    transform: rotate(90deg);
  }
}

@media all and (min-width: 768px) {
  .header__menu--item > a > span:nth-child(2) {
    opacity: 0;
  }
}

@media all and (min-width: 768px) {
  .header__menu--item {
    font-size: 1.4rem;
    padding: 3.5rem 1rem;
  }
}

@media all and (min-width: 1024px) {
  .header__menu--item {
    font-size: 1.4rem;
    padding: 3.5rem 1rem;
  }
}

.header__menu--item--sub-menu {
  display: none;
}

@media all and (min-width: 768px) {
  .header__menu--item--sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 0.1rem;
  }
}

.header__menu--item--sub-menu--item {
  position: relative;
  padding: 0.8rem;
}

@media all and (max-width: 768px) {
  .header__menu--item--sub-menu--item:hover .header__menu--item--sub-menu--item::before {
    color: var(--data-color-hover);
  }
}

.header__menu--item--sub-menu--item:first-child::before {
  top: 45%;
}

.header__menu--item--sub-menu--item::before {
  content: ">>";
  position: absolute;
  top: 35%;
  transform: translateX(-50%);
  left: 2rem;
}

.header__menu--item--sub-menu--item:first-child {
  padding-top: 1.6rem;
}

.header__menu--item--sub-menu--item:last-child {
  padding-bottom: 1.6rem;
}

.header__menu--item--sub-menu--item a {
  padding-left: 3rem;
  white-space: nowrap;
}

@media all and (min-width: 768px) {
  .header__menu--item:hover .header__menu--item--sub-menu {
    display: block;
    background-color: var(--data-background-color-bold);
  }
}

@media all and (min-width: 768px) {
  .header__menu--item.active::before {
    content: "";
    position: absolute;
    top: 100%;
    margin-top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid var(--data-white);
  }
}

@media all and (max-width: 768px) {
  .header__menu--item.active {
    background-color: var(--data-blue);
  }
}

@media all and (max-width: 768px) {
  .header__menu--item.has-children > a::before {
    content: ">";
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    transition: all 0.5s;
  }
  .header__menu--item.has-children-active > a::before {
    transform: rotate(90deg);
  }
}

.header__menu--overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
}

.header__menu--close {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  display: none;
  background-color: var(--data-white);
  color: var(--data-black);
  position: absolute;
  font-size: 2.4rem;
  border-radius: 100rem;
  top: 1rem;
  right: 1rem;
}

@media all and (max-width: 768px) {
  .header__menu--close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__menu--input {
  display: block;
  padding: 1rem;
}

.header__menu--input div {
  width: 100%;
  position: relative;
}

.header__menu--input div input {
  width: 100%;
  padding: 1rem;
  padding-right: 3rem;
  border: 0.1rem solid var(--data-background-body);
}

.header__menu--input div i {
  position: absolute;
  top: 50%;
  font-size: 2.4rem;
  color: var(--data-black);
  right: 1rem;
  transform: translateY(-50%);
}

@media all and (min-width: 768px) {
  .header__menu--input {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .header__menu.active {
    display: block;
    padding-top: 5rem;
    z-index: 100;
    opacity: 1;
    background-color: var(--data-background-color-bold);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateX(0);
  }
}

.footer {
  background-color: #202020;
  padding-top: 4.5rem;
}

.footer__content {
  padding-bottom: 2rem;
  color: var(--data-white);
  display: flex;
}

.footer__content a {
  color: var(--data-white);
}

.footer__content a:hover {
  color: var(--data-color);
}

@media all and (max-width: 880px) {
  .footer__content {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 880px) {
  .footer__content {
    gap: 3rem;
  }
}

@media all and (max-width: 640px) {
  .footer__content ul {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media all and (min-width: 640px) {
  .footer__content ul:nth-child(1) {
    width: 48%;
    margin-right: 2%;
  }
}

@media all and (min-width: 880px) {
  .footer__content ul:nth-child(1) {
    width: 30%;
  }
}

.footer__content ul:nth-child(1) li:nth-child(2) {
  font-size: 1.4rem;
}

.footer__content ul:nth-child(1) li:nth-child(3) span:nth-child(1) {
  color: #228de3;
}

.footer__content ul:nth-child(1) li:nth-child(4) span:nth-child(1) {
  color: #4caf50;
}

.footer__content ul:nth-child(1) li:nth-child(5) span:nth-child(1) {
  color: #e91e63;
}

.footer__content ul:nth-child(1) li:nth-child(6) span:nth-child(1) {
  color: #ffc107;
}

@media all and (min-width: 640px) {
  .footer__content ul:nth-child(2) {
    width: 48%;
    margin-right: 2%;
  }
}

@media all and (min-width: 880px) {
  .footer__content ul:nth-child(2) {
    width: 30%;
  }
}

@media all and (min-width: 640px) {
  .footer__content ul:nth-child(3) {
    width: 100%;
    margin-left: 2%;
  }
}

@media all and (min-width: 880px) {
  .footer__content ul:nth-child(3) {
    width: 40%;
  }
}

.footer__content ul:nth-child(3) div {
  width: 100%;
}

.footer__content ul:nth-child(3) div iframe {
  width: 100%;
  height: 30rem;
}

.footer__content ul li {
  font-size: 1.5rem;
  padding: 0.8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.footer__content ul li:first-child {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  margin-bottom: 1.8rem;
  border-bottom: 0.1rem solid #444;
}

.footer__end {
  color: var(--data-white);
  line-height: 1.8rem;
  text-align: center;
  padding: 1.8rem 0rem;
  background-color: #333333;
}

.banner {
  position: relative;
}

.banner__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 70;
  color: var(--data-white);
  font-size: 3.2rem;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.5s;
}

.banner__button:hover {
  opacity: 1;
}

.banner__button--left {
  left: 1rem;
}

@media all and (min-width: 1024px) {
  .banner__button--left {
    left: 5rem;
  }
}

.banner__button--right {
  right: 1rem;
}

@media all and (min-width: 1024px) {
  .banner__button--right {
    right: 5rem;
  }
}

.banner__ {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner__container-- {
  position: relative;
}

.banner__container {
  overflow: hidden;
  display: block;
}

.banner__container img {
  width: 100%;
}

.banner__content {
  width: 100%;
  margin-top: 1rem;
}

@media all and (min-width: 768px) {
  .banner__content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.4rem;
    margin-top: 0;
  }
}

.banner__content--top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1rem;
}

.banner__content--top li {
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  background-color: var(--data-background-body);
}

@media all and (max-width: 640px) {
  .banner__content--top li {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 768px) {
  .banner__content--top li {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (min-width: 768px) {
  .banner__content--top li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media all and (min-width: 768px) {
  .banner__content--top li {
    padding: 1.5rem 4rem;
  }
}

@media all and (min-width: 768px) {
  .banner__content--top li {
    border-top: 0.4rem solid var(--data-background-body);
  }
}

@media all and (max-width: 768px) {
  .banner__content--top li {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
}

.banner__content--top li i {
  font-size: 2.4rem;
}

.banner__content--top li.active {
  border-top: 0.4rem solid var(--data-color-active);
  background-color: var(--data-background-color-opacity);
}

@media all and (max-width: 768px) {
  .banner__content--top li.active {
    box-shadow: unset;
  }
}

.banner__content--top li.active i {
  color: var(--data-color-active);
}

.banner__content--top li.active span {
  color: var(--data-white);
}

.banner__content--main {
  background-color: var(--data-background-color-opacity);
}

.banner__content--main form {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (min-width: 768px) {
  .banner__content--main form {
    gap: 3rem;
  }
}

@media all and (max-width: 768px) {
  .banner__content--main form {
    padding: 2rem 0.5rem;
  }
}

@media all and (max-width: 768px) {
  .banner__content--main form {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .banner__content--main form > div {
    width: 22%;
  }
  .banner__content--main form > div:first-child {
    width: 34%;
  }
}

@media all and (max-width: 768px) {
  .banner__content--main form > div {
    width: 50%;
    margin-bottom: 1rem;
  }
  .banner__content--main form > div:nth-child(n) {
    padding-right: 1rem;
  }
  .banner__content--main form > div:nth-child(2n) {
    padding-left: 1rem;
  }
}

.banner__content--main input,
.banner__content--main select {
  color: var(--data-white);
  width: 100%;
  background-color: var(--data-background-color-opacity-light);
  border: 0.1rem solid var(--data-color);
  padding: 1rem;
}

.banner__content--main input::placeholder,
.banner__content--main select::placeholder {
  color: var(--data-white);
}

.banner__content--main select {
  color: var(--data-white);
}

.banner__content--main button {
  width: 100%;
  background-color: var(--data-white);
  color: var(--data-color);
  padding: 1rem;
  border-radius: 100rem;
  border: 0.1rem solid var(--data-white);
  transition: all 0.5s;
}

.banner__content--main button:hover {
  background-color: var(--data-background-color);
  border-color: var(--data-background-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: var(--data-white);
}

.top_tour {
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
  text-align: center;
}

.top_tour__head p:nth-child(1) {
  display: inline;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 0.8rem;
  position: relative;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid var(--data-background-color);
}

.top_tour__head p:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--data-background-color);
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
  top: 100%;
  margin-top: -0.5rem;
}

.top_tour__head p:nth-child(2) {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.top_tour__content {
  margin: 3rem 0rem;
  position: relative;
}

.top_tour__content > div {
  width: 100%;
  overflow: hidden;
}

.top_tour__content--button {
  display: flex !important;
  width: 4rem;
  height: 4rem;
  z-index: 30;
  border-radius: 100rem;
  font-size: 2.8rem;
  background-color: var(--data-background-color);
  color: var(--data-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top_tour__content--button:hover {
  background-color: var(--data-background-color-bold);
}

.top_tour__content--button--left {
  left: -2rem;
}

.top_tour__content--button--right {
  right: -2rem;
}

.top_tour__content--item {
  border-bottom: 0.2rem solid var(--data-background-color);
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-right: 2rem;
}

.top_tour__content--item:hover::before {
  content: unset;
}

.top_tour__content--item::before {
  content: "";
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.397);
}

@media all and (min-width: 768px) {
  .top_tour__content--item {
    width: 50%;
  }
}

@media all and (min-width: 1024px) {
  .top_tour__content--item {
    width: calc(100% / 3);
  }
}

.top_tour__content--item--wrap {
  width: 100%;
  color: var(--data-white);
  z-index: 12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top_tour__content--item--text {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.top_tour__content--item--info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.top_tour__content--item--info span:nth-child(2) {
  font-size: 1.5rem;
}

.top_tour__content--item--image {
  padding-top: 80%;
  position: relative;
  z-index: 10;
}

.top_tour__content--item--footer {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--data-background-color);
  color: var(--data-white);
  font-weight: 600;
  padding: 1.2rem 3rem;
  z-index: 12;
}

.top_tour__content--wrapper {
  margin: 0rem -2rem;
}

.tour {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media all and (min-width: 1024px) {
  .tour {
    display: flex;
    gap: 5rem;
  }
}

@media all and (min-width: 1024px) {
  .tour__left-- {
    width: 75%;
  }
}

.tour__left {
  background-color: var(--data-white);
}

@media all and (min-width: 1024px) {
  .tour__left {
    width: 75%;
    padding: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
}

.tour__left--top {
  padding: 1rem;
  position: relative;
  border-bottom: 0.1rem solid var(--data-black);
  margin-bottom: 2rem;
}

@media all and (min-width: 1024px) {
  .tour__left--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tour__left--top::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
  width: 1rem;
  height: 1rem;
  bottom: -0.5rem;
  background-color: var(--data-background-color);
}

.tour__left--top > p {
  font-size: 2.8rem;
  font-weight: bolder;
  font-family: var(--font-heading);
}

@media all and (max-width: 1024px) {
  .tour__left--top > p {
    margin-bottom: 1rem;
  }
}

.tour__left--top > p span {
  color: var(--data-color);
}

@media all and (min-width: 640px) {
  .tour__left--top > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.tour__left--top > div a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  font-size: 1.5rem;
}

@media all and (max-width: 640px) {
  .tour__left--top > div a {
    padding: 1rem 0rem;
  }
}

.tour__left--top > div a:hover {
  color: var(--data-color);
  font-weight: 400;
}

.tour__left--top > div a.active {
  color: var(--data-color);
  font-weight: 400;
}

.tour__right {
  margin-top: 4rem;
}

@media all and (min-width: 1024px) {
  .tour__right {
    width: 25%;
    margin-top: 0;
  }
}

.tour__right--box {
  margin-bottom: 2rem;
  background-color: var(--data-background-color);
  color: var(--data-white);
  padding: 1.6rem;
}

.tour__right--box h3 {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-family: var(--font-heading);
  margin-bottom: 1.2rem;
}

.tour__right--box ul li {
  padding: 0.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.tour__right--box ul li span:nth-child(1) {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid var(--data-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.tour__right--box ul li span:nth-child(2) {
  flex: 1;
  font-size: 1.5rem;
}

.tour__right--list {
  margin-bottom: 2rem;
  background-color: var(--data-white);
}

.tour__right--list--top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  background-color: var(--data-background-color);
  color: var(--data-white);
}

.tour__right--list--top span:nth-child(1) {
  width: 4rem;
  height: 100%;
  font-size: 2rem;
  background-color: #ff9801;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour__right--list--top span:nth-child(2) {
  margin-left: 1rem;
  font-weight: 600;
}

.tour__right--list > ul li {
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.092);
}

.tour__right--list > ul li:hover {
  background-color: rgba(128, 128, 128, 0.092);
}

.tour__right--list > ul li a {
  padding: 1.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tour__right--list > ul li a:hover {
  color: var(--data-color);
}

.tour__right--item {
  cursor: pointer;
  margin-top: 2rem;
  position: relative;
  width: 100%;
}

.tour__right--item:hover .tour__right--item--image img {
  filter: brightness(110%);
}

.tour__right--item--image {
  padding-top: 60%;
}

.tour__right--item--star {
  color: #ff9801;
  font-size: 1.8rem;
  position: absolute;
  top: 1rem;
  z-index: 12;
  left: 1rem;
}

.tour__right--item > p {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0rem 1rem;
  bottom: 6rem;
}

.tour__right--item > p a {
  font-size: 2rem;
  color: var(--data-white);
  font-weight: bold;
}

.tour__right--item > span {
  padding: 1rem 3rem;
  background-color: var(--data-background-color);
  position: absolute;
  z-index: 9;
  color: var(--data-white);
  font-weight: 600;
  bottom: 0rem;
  right: 0;
}

.tour__item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tour__item--star {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #ff9801;
  padding: 0.3rem;
  font-size: 1.8rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.58);
}

.tour__item--hot {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 100%;
  text-align: center;
  color: var(--data-white);
  line-height: 5rem;
  font-style: normal;
  overflow: hidden;
  border-bottom: none;
  background: url(../images/price-bubble.png) bottom right no-repeat #ff47a0;
  background-size: contain;
}

.tour__item--image {
  display: block;
  padding-top: 75%;
}

.tour__item--text {
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2rem;
}

.tour__item--text a:hover {
  color: var(--data-color);
}

.tour__item--price {
  padding: 0.8rem;
  font-size: 1.8rem;
  font-weight: bolder;
  line-height: 2rem;
  color: red;
}

.tour__item--footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tour__item--footer li {
  font-size: 1.5rem;
  width: 50%;
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(128, 128, 128, 0.092);
}

.tour__item--footer li span:nth-child(1) {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: var(--data-color);
}

.tour__item--footer li:nth-child(2) a.more {
  cursor: pointer;
  color: var(--data-color);
}

.tour__containner--first {
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 4rem;
}

@media all and (min-width: 640px) {
  .tour__containner--first {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 1024px) {
  .tour__containner--first {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1024px) {
  .tour__containner--second {
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 768px) {
  .tour__containner--second {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 640px) {
  .tour__containner--second {
    grid-template-columns: 1fr;
  }
}

.tour__containner--third {
  gap: 3rem;
  display: grid;
  margin-bottom: 3rem;
  grid-template-columns: 1fr;
}

.tour__containner--third__ {
  background-color: var(--data-background-body);
  padding: 3rem 0rem;
}

@media all and (min-width: 640px) {
  .tour__containner--third {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 768px) {
  .tour__containner--third {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1024px) {
  .tour__containner--third {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.about__end {
  margin-top: 3rem;
}

.about__tab {
  background-color: var(--data-white);
  padding: 0.8rem;
  margin-bottom: 2rem;
}

.about__tab--ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.about__tab--ul li {
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 1.4rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.about__tab--ul li.active {
  border-bottom: 0.1rem solid var(--data-color);
  color: var(--data-color);
}

.about__tab--item {
  margin-bottom: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about__tab--item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.about__tab--item--image {
  width: 25%;
}

.about__tab--item--image .img-wrap {
  padding-top: 100%;
}

.about__tab--item--image .img-wrap > img {
  border-radius: 0.4rem;
}

.about__tab--item--content {
  width: 75%;
  padding: 0rem 1rem;
}

.about__tab--item--content p:nth-child(1) a {
  font-weight: bold;
  font-size: 1.5rem;
}

.about__tab--item--content p:nth-child(1) a:hover {
  color: var(--data-color);
}

.about__tab--item--content p:nth-child(2) {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.about__tab--item--main {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about__tab--item--main .about__tab--item--content p a {
  color: var(--data-color);
}

.about__tab--wrapper {
  margin-top: 2rem;
}

.breadcrumb {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.breadcrumb ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
}

.breadcrumb ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
}

.breadcrumb ul li a.color {
  color: var(--data-color);
}

.breadcrumb ul li span.color {
  color: var(--data-color);
}

.contact__map {
  width: 100%;
  margin-bottom: 3rem;
}

.contact__map > iframe {
  width: 100%;
  height: 27rem;
  border: none;
}

@media all and (min-width: 768px) {
  .contact__content {
    display: flex;
    gap: 5rem;
  }
}

@media all and (min-width: 768px) {
  .contact__content--left {
    width: 50%;
  }
}

@media all and (max-width: 768px) {
  .contact__content--left {
    margin-bottom: 2rem;
  }
}

.contact__content--left > h3 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1.8rem;
}

.contact__content--left > p {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.contact__content--left > ul {
  font-size: 1.5rem;
}

.contact__content--left > ul > li {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.contact__content--left > ul > li span:nth-child(1) {
  color: var(--data-color);
}

.contact__content--right {
  font-family: var(--data-font-main);
}

@media all and (min-width: 768px) {
  .contact__content--right {
    width: 50%;
  }
}

.contact__content--right form > div {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__content--right form > div div {
  width: calc(50% - 1rem);
}

.contact__content--right form input {
  border-radius: 0.6rem;
  width: 100%;
  border: 0.1rem solid var(--data-color);
  padding: 0.8rem;
}

.contact__content--right form input:focus {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact__content--right form textarea {
  border-radius: 0.6rem;
  width: 100%;
  border: 0.1rem solid var(--data-color);
  padding: 0.8rem;
}

.contact__content--right form textarea::placeholder {
  font-family: var(--data-font-main);
}

.contact__content--right form button {
  border: 0.1rem solid var(--data-color);
  background-color: var(--data-background-color);
  margin: 1.5rem 0rem;
  padding: 1rem 3rem;
  color: var(--data-white);
  border-radius: 100rem;
}

.detail_tour {
  padding-top: 3rem;
  padding-bottom: 20rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.detail_tour::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--data-background-color-opacity);
}

.detail_tour__content {
  position: relative;
  z-index: 2;
}

@media all and (min-width: 768px) {
  .detail_tour__content {
    display: flex;
    gap: 5rem;
  }
}

@media all and (min-width: 768px) {
  .detail_tour__content--left {
    width: 55%;
  }
}

.detail_tour__content--left--wrapper {
  overflow: hidden;
  position: relative;
}

.detail_tour__content--left--button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 80;
  border: 0.1rem solid var(--data-white);
  color: var(--data-white);
  cursor: pointer;
  opacity: 0.6;
  font-size: 2.4rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.detail_tour__content--left--button:hover {
  opacity: 1;
}

.detail_tour__content--left--button--left {
  left: 1rem;
}

.detail_tour__content--left--button--right {
  right: 1rem;
}

.detail_tour__content--left--container--nav img {
  border: 0.1rem solid var(--data-white);
}

.detail_tour__content--left--container {
  width: 100%;
}

.detail_tour__content--left--container img {
  border: 0.1rem solid var(--data-white);
}

.detail_tour__content--left--container img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.detail_tour__content--left--container--nav img {
  width: calc(100% / 6);
  height: 6rem;
  object-fit: cover;
}

.detail_tour__content--right {
  flex: 1;
  color: var(--data-white);
}

@media all and (max-width: 768px) {
  .detail_tour__content--right {
    margin-top: 3rem;
  }
}

.detail_tour__content--right h3 {
  font-family: var(--data-font-heading);
  font-size: 2.2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.detail_tour__content--right--star {
  color: var(--data-yellow);
  font-size: 2.2rem;
  margin: 1rem 0rem;
}

.detail_tour__content--right--price {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.detail_tour__content--right hr {
  margin: 2rem 0rem;
  border-bottom: 0.2rem solid var(--data-white);
}

.detail_tour__content--right--info {
  font-size: 1.5rem;
}

.detail_tour__content--right--child {
  margin: 1rem 0rem;
  gap: 0.5rem;
}

.detail_tour__content--right--child i {
  color: var(--data-yellow);
}

.detail_tour__content--right--child span {
  font-weight: bold;
}

.detail_tour__content--right--child p {
  line-height: 2.4rem;
  word-spacing: 0.1rem;
  display: inline;
}

.detail_tour__content--right--title {
  color: var(--data-yellow);
  margin: 1rem 0rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}

.detail_tour__content--right--button--cart {
  margin-top: 3rem;
  background-color: var(--data-yellow);
  padding: 1.6rem 1.2em;
  border: none;
}

.detail_tour__content--right--button--cart p:nth-child(1) {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.detail_tour__content--right--button--cart p:nth-child(2) {
  font-size: 1.1rem;
}

.detail_wrap {
  position: relative;
  z-index: 5;
  margin-top: -12rem;
}

.detail__description--top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}

.detail__description--top li {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 3.2rem;
  background-color: var(--data-white);
}

.detail__description--top li.active {
  color: var(--data-white);
  background-color: var(--data-background-color-opacity);
}

.detail__description--main {
  padding: 1rem;
  background-color: var(--data-white);
}

.detail__description--contact {
  color: var(--data-black);
}

.detail__description--contact ul {
  width: 100% !important;
}

.detail__description--contact ul li {
  font-size: 1.5rem;
  padding: 0.8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.detail__description--contact ul li:nth-child(1) span:nth-child(1) {
  color: #228de3;
}

.detail__description--contact ul li:nth-child(2) span:nth-child(1) {
  color: #4caf50;
}

.detail__description--contact ul li:nth-child(3) span:nth-child(1) {
  color: #e91e63;
}

.detail__description--contact ul li:nth-child(4) span:nth-child(1) {
  color: #ffc107;
}

.socical {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  z-index: 111;
}

.socical__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex !important;
  background-color: white;
  cursor: pointer;
}

.socical__plus i {
  font-size: 3.2rem;
  transition: all 0.5s;
}

.socical__plus.active i {
  transform: rotate(135deg);
}

.socical__item {
  display: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.socical__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}

.travel_guide__item {
  padding: 0.8rem;
  margin-bottom: 2rem;
  background-color: var(--data-white);
}

@media all and (min-width: 768px) {
  .travel_guide__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media all and (min-width: 768px) {
  .travel_guide__item--image {
    width: 30%;
  }
}

.travel_guide__item--image > div {
  padding-top: 70%;
}

.travel_guide__item--content {
  padding-top: 2rem;
  flex: 1;
}

@media all and (min-width: 768px) {
  .travel_guide__item--content {
    padding-top: 0rem;
    padding-left: 2rem;
  }
}

.travel_guide__item--content h3 a:hover {
  color: var(--data-color);
}

.travel_guide__item--content div {
  margin: 1rem 0rem;
  color: #888;
  display: flex;
  font-size: 1.5rem;
  gap: 3rem;
}

.travel_guide__item--content p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.travel_guide__item--content > a {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 100rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--data-white);
  background-color: var(--data-background-color);
}

.travel_guide__wrapper {
  margin-top: 3rem;
}

.travel_guide__child {
  width: 100%;
  margin-bottom: 2rem;
}

.travel_guide__child--image {
  padding-top: 70%;
  display: block;
}

.travel_guide__child--text {
  margin: 1rem 0rem;
}

.travel_guide__child--text a {
  font-weight: 600;
  color: var(--data-color);
}

.travel_guide__child span {
  display: block;
  font-size: 1.4rem;
  color: #555;
}

.travel_guide__container-- {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding: 1.2rem;
  background-color: var(--data-white);
}

@media all and (min-width: 640px) {
  .travel_guide__container-- {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 1024px) {
  .travel_guide__container-- {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.info-about {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  position: relative;
  border-bottom: 0.1rem solid rgba(136, 136, 136, 0.313);
}

.info-about__image {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
}

.info-about__image img {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  object-fit: cover;
}

.info-about__content {
  flex: 1;
  padding-right: 1rem;
}

.info-about__content h4 {
  margin-bottom: 1rem;
}

.info-about__content div {
  color: #555;
  font-size: 1.3rem;
}

.info-about__content div a {
  color: #555;
}

.info-about__content div a:hover {
  color: var(--data-color);
}

.info-about__socical {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.info-about__socical--item {
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border: none;
  background-color: #1877f2;
  color: var(--data-white);
}
/*# sourceMappingURL=app.css.map */