// global class
.container {
    max-width: var(--data-container);
    margin: auto;
}
.wrapper {
    @include max-ss(1170px) {
        padding: 0rem 2rem;
    }
    max-width: var(--data-container);
    margin: auto;
}
.transition-1\/2s {
    transition: all 0.3s;
}
.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
}
.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}
.backtotop {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    cursor: pointer;
    width: 3.2rem;
    display: none !important;
    height: 3.2rem;
    background-color: var(--data-background-color);
    color: var(--data-white);
    font-size: 2.4rem;
    &.active {
        display: flex !important;
        @include flexJustifyAlign(center, center);
    }
}
.top_tour__wrapper--main {
    background-color: var(--data-white);
}

//pagination
.pagination {
    margin: 3rem auto;
    @include flexJustifyAlign(center, center);
    gap: 1rem;
    & > a {
        @include flexJustifyAlign(center, center);
        cursor: pointer;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 0.2rem;
        color: var(--data-black);
        background-color: var(--data-white);
        transition: 0.5s all;
    }
    & > a.active {
        color: var(--data-white);
        background-color: var(--data-background-color);
        &:hover {
            color: var(--data-black);
            background-color: var(--data-white);
        }
    }
}
//pagination

// global class
