.about {
    // &__right {
    // }
    &__end {
        margin-top: 3rem;
        // @in
    }
    &__tab {
        background-color: var(--data-white);
        padding: 0.8rem;
        margin-bottom: 2rem;
        &--ul {
            @include flexJustifyAlign(center, center);
            li {
                cursor: pointer;
                width: 50%;
                text-align: center;
                padding: 1.4rem 0.5rem;
                font-size: 1.5rem;
                font-weight: 500;
            }
            li.active {
                border-bottom: 0.1rem solid var(--data-color);
                color: var(--data-color);
            }
            margin-bottom: 2rem;
        }
        &--item {
            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }
            margin-bottom: 1.2rem;
            padding-bottom: 1rem;
            border-bottom: 0.1rem solid rgba(128, 128, 128, 0.2);
            @include flexJustifyAlign(flex-start, center);
            &--image {
                width: 25%;
                & .img-wrap {
                    padding-top: 100%;
                    & > img {
                        border-radius: 0.4rem;
                    }
                }
            }
            &--content {
                width: 75%;
                padding: 0rem 1rem;
                p {
                    &:nth-child(1) {
                        a {
                            font-weight: bold;
                            font-size: 1.5rem;
                            &:hover {
                                color: var(--data-color);
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-top: 0.5rem;
                        font-size: 1.4rem;
                    }
                }
            }
            &--main {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
                padding-bottom: 1rem;
                border-bottom: 0.1rem solid rgba(128, 128, 128, 0.2);
                @include flexJustifyAlign(flex-start, center);
            }
            &--main &--content p a {
                color: var(--data-color);
            }
        }
        &--wrapper {
            margin-top: 2rem;
        }
    }
}
