// header
.header {
    position: relative;
    z-index: 100;
    color: var(--data-white);
    background-color: var(--data-background-color);
    padding-top: 1rem;
    &__top {
        padding-bottom: 0.8rem;
        color: var(--data-white);
        border-bottom: 0.1rem solid var(--data-white);
        @include flexJustifyAlign(space-between,center);
        ul {
            @include flexJustifyAlign(flex-end,center);
            gap: 1rem;
            li {
                a {
                    color: var(--data-white);
                }
            }
        }
    }
    &__main {
        // padding: 1rem 0rem;
        @include flexJustifyAlign(flex-start,center);
    }
    &__logo {
        width: 26.5rem;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__menu {
        flex: 1;
        padding-left: 5rem;
        &--main {
            a {
                color: var(--data-white);
            }
            @include flexJustifyAlign(space-between,center);
        }
        &--item {
            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    margin-top: -2rem;
                    left: 50%;
                    transform: translateX(-50%);
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;
                    border-top: 1rem solid transparent;
                    border-bottom: 1rem solid var(--data-white);
                }
            }
           a {
            &:hover {
                color: var(--data-color-hover);
            }
           } 
           padding: 3.5rem 0rem;
           position: relative;
           &--sub-menu {
               position: absolute;
               left: 0;
               top: 100%;
               margin-top: 0.1rem;
               display: none;
               &--item {
                   &:first-child {
                       padding-top: 1.6rem;
                   }
                   &:last-child {
                    padding-bottom: 1.6rem;
                }
                   padding: 0.8rem;
                   a {
                       @include flexJustifyAlign(flex-start,center);
                       gap: 1rem;
                       span {
                           white-space: nowrap;
                       }
                   }
               }
           }
           &:hover &--sub-menu {
               display: block;
               background-color: var(--data-background-color-bold);
           }
        }
        &--item.active {
            &::before {
                content: "";
                position: absolute;
                top: 100%;
                margin-top: -2rem;
                left: 50%;
                transform: translateX(-50%);
                border-left: 1rem solid transparent;
                border-right: 1rem solid transparent;
                border-top: 1rem solid transparent;
                border-bottom: 1rem solid var(--data-white);
            }
        }
    }
}
// header